@font-face {
    font-family: "Avenir-Next";
    src: url("../4.0-Assets/Font/Avenir-Next-Pro-Lt/Linotype-AvenirNextLTPro-Regular.otf") format("otf"),
         url("../4.0-Assets/Font/Avenir-Alternative/Linotype-AvenirNextLTPro-It.otf") format("otf");    
  }

  @font-face {
    font-family: "Avenir-Next-demi";
    src: url("../4.0-Assets/Font/Avenir-Next-Pro-Lt/Linotype-AvenirNextLTPro-Demi.otf") format("otf"),
         url("../4.0-Assets/Font/Avenir-Alternative/Linotype-AvenirNextLTPro-DemiIt.otf") format("otf");
  }

  @font-face {
    font-family: "Avenir-Next-bold";
    src: url("../4.0-Assets/Font/Avenir-Next-Pro-Lt/Linotype-AvenirNextLTPro-Bold.otf") format("otf"),
         url("../4.0-Assets/Font/Avenir-Alternative/Linotype-AvenirNextLTPro-BoldIt.otf") format("otf");
  }
