// GLOBALS

$labels-text-color:#AFAFAF;
$Global-text-color: #323232;
$text-bg-field-color:#FAFAFA;
$labels-bg-color:#323232;
$field-border:#E1E1E1;
$divider: #E1E1E1;

$margin-left-desk: 11.25rem;


// @MEDIA QUIRES 

$tablet-bk-point: 768px;
$desk-bk-point: 1200px