@font-face {
  font-family: "Avenir-Next";
  src: url("../4.0-Assets/Font/Avenir-Next-Pro-Lt/Linotype-AvenirNextLTPro-Regular.otf") format("otf"), url("../4.0-Assets/Font/Avenir-Alternative/Linotype-AvenirNextLTPro-It.otf") format("otf");
}

@font-face {
  font-family: "Avenir-Next-demi";
  src: url("../4.0-Assets/Font/Avenir-Next-Pro-Lt/Linotype-AvenirNextLTPro-Demi.otf") format("otf"), url("../4.0-Assets/Font/Avenir-Alternative/Linotype-AvenirNextLTPro-DemiIt.otf") format("otf");
}

@font-face {
  font-family: "Avenir-Next-bold";
  src: url("../4.0-Assets/Font/Avenir-Next-Pro-Lt/Linotype-AvenirNextLTPro-Bold.otf") format("otf"), url("../4.0-Assets/Font/Avenir-Alternative/Linotype-AvenirNextLTPro-BoldIt.otf") format("otf");
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin-left: 0;
  margin-right: 0;
}

.bold-flex {
  font-family: "Avenir-Next-bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demi {
  font-family: "Avenir-Next-demi";
}

.logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 42.25%;
  height: 40%;
  background-image: url("../Assets/Logo/Logo.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.nav__container {
  position: fixed;
  top: 0;
  height: 5rem;
  background-color: #323232;
  color: #AFAFAF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 340px) and (max-width: 767px) {
  .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin-left: 1.5rem;
    width: 48.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 11.25rem;
  }
}

.links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 340px) and (max-width: 767px) {
  .links__container {
    margin-left: 1.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .links__container {
    width: 14.75rem;
    margin-left: 3.5rem;
  }
}

.nav__links {
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "Avenir-Next-demi";
}

@media screen and (min-width: 340px) and (max-width: 767px) {
  .nav__links {
    width: 6.25rem;
    padding-top: 2.375rem;
    padding-bottom: 1.4375rem;
  }
}

.nav__links a {
  text-decoration: none;
}

.nav__links a:visited {
  color: white;
}

.nav__links:hover {
  color: white;
  border-bottom: 1.5px solid white;
}

@media screen and (min-width: 768px) {
  .nav__links {
    width: 6.25rem;
    padding-top: 2.375rem;
    padding-bottom: 1.4375rem;
  }
}

@media screen and (min-width: 1200px) {
  .nav__links {
    margin-right: 3.5rem;
  }
}

.nav__links--bio {
  border-bottom: 1px solid white;
}

.hero__image {
  position: relative;
  top: 4.5rem;
  width: 100vw;
  height: 11.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../Assets/Images/hero.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}

@media screen and (min-width: 490px) and (max-width: 767px) {
  .hero__image {
    text-align: center;
    background-position: bottom;
  }
}

.hero__image::after {
  content: url();
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .hero__image {
    height: 25rem;
  }
}

.hero__heading {
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  width: 75vw;
  -webkit-transform: translate(-1.5rem);
          transform: translate(-1.5rem);
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
}

@media screen and (min-width: 1200px) {
  .hero__heading {
    margin-left: 11.25rem;
  }
}

.blog {
  position: relative;
  top: 4.5rem;
}

.blog__heading {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 1rem 1.5rem;
}

@media screen and (min-width: 768px) {
  .blog__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .blog__heading {
    margin: 3rem 0 3rem 11.25rem;
  }
}

.blog__subheading {
  font-size: 14px;
  line-height: 22px;
  color: #323232;
  margin: 2rem, 1rem, 1.5rem, 1rem;
}

@media screen and (min-width: 564px) and (max-width: 767px) {
  .blog__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .blog__subheading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 3rem 1.5rem;
  }
}

.blog__quote {
  margin: 1.5rem 1rem 2rem;
}

@media screen and (min-width: 768px) {
  .blog__quote {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .blog__quote {
    width: 47.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 2.5rem 0 2.5rem 11.25rem;
  }
}

.blog__quote__author {
  margin: 0 1rem 2.5rem;
}

@media screen and (min-width: 768px) {
  .blog__quote__author {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .blog__quote__author {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 11.25rem;
    margin-bottom: 3.5rem;
  }
}

.blog__bio__title {
  margin: 0 1rem 1.5rem;
}

@media screen and (min-width: 768px) {
  .blog__bio__title {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .blog__bio__title {
    margin: 0 0 2rem 11.25rem;
  }
}

.blog__paragraph {
  font-size: 13px;
  line-height: 18px;
  margin: 0 1rem 1.5rem;
  font-family: "Avenir-Next";
}

@media screen and (min-width: 564px) and (max-width: 767px) {
  .blog__paragraph {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@media screen and (min-width: 768px) {
  .blog__paragraph {
    margin-left: 1.5rem;
    margin-right: 0;
    width: auto;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .blog__paragraph {
    width: 26.25rem;
  }
}

.blog__paragraph--mod {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .blog__paragraph--mod {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .blog__paragraph--mod {
    margin-left: 2.5rem;
  }
}

@media screen and (min-width: 564px) and (max-width: 767px) {
  .paragraph__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .paragraph__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph__container {
    width: 56rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 3rem;
  }
}

.blog__img {
  width: 90%;
  /* 18rem; */
  height: auto;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .blog__img {
    width: 45rem;
    height: 22.625rem;
    margin: 0 1.5rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .blog__img {
    width: 56rem;
    height: 28.125rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 806px) and (max-width: 1199px) {
  .blog__img {
    width: 90%;
    height: 28.125rem;
  }
}

.blog__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FAFAFA;
  border: #E1E1E1;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .img__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .img__container {
    margin: 0 0.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .img__container {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 806px) and (max-width: 1199px) {
  .img__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.img {
  width: 90%;
  /* 18rem; */
  height: auto;
  margin: 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .img {
    width: 14rem;
    height: 7.875rem;
    margin: 1rem 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .img {
    width: 21.5rem;
    height: 12.0625rem;
    margin: 1.5rem 0.75rem;
  }
}

@media screen and (min-width: 806px) and (max-width: 1199px) {
  .img {
    width: 21.5rem;
    height: 12.0625rem;
    margin: 1.5rem 0.75rem;
  }
}

.comments {
  margin-top: 40px;
  position: relative;
  top: 3.75rem;
}

@media screen and (min-width: 1200px) {
  .comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.comments__heading {
  margin-left: 1rem;
}

@media screen and (min-width: 1200px) {
  .comments__heading {
    margin-left: 3.4375rem;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}

.label {
  font-size: 12px;
  line-height: 20px;
  color: #AFAFAF;
}

@media screen and (min-width: 1200px) {
  .label {
    margin-left: 1.25rem;
  }
}

.user__name {
  width: 14rem;
  height: 3rem;
  margin-bottom: 2rem;
  background-color: #FAFAFA;
}

@media screen and (min-width: 768px) {
  .user__name {
    width: 32.875rem;
  }
}

@media screen and (min-width: 1200px) {
  .user__name {
    width: 28.75rem;
  }
}

.user__comment {
  width: 14rem;
  height: 6rem;
}

@media screen and (min-width: 768px) {
  .user__comment {
    width: 32.875rem;
  }
}

@media screen and (min-width: 1200px) {
  .user__comment {
    width: 28.75rem;
  }
}

.comments__input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 1200px) {
  .comments__input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bg_inputs {
  background-color: #FAFAFA;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 1rem;
}

.bg_inputs:focus {
  border: 1px solid black;
}

@media screen and (min-width: 1200px) {
  .bg_inputs {
    margin: .5rem 1.5rem 1.5rem 1.25rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .user__name,
  .user__comment {
    width: 100%;
  }
}

.comments__form {
  width: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .comments__form {
    width: 36.375rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .comments__form {
    width: 80%;
  }
}

.comments__btn {
  width: 14rem;
  height: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  background-color: #323232;
  color: white;
  border-radius: 4px;
  margin-bottom: 0;
}

.comments__btn:hover {
  background-color: #0065AD;
}

@media screen and (min-width: 768px) {
  .comments__btn {
    position: relative;
    left: 57%;
  }
}

@media screen and (min-width: 1200px) {
  .comments__btn {
    width: 3rem;
    width: 160px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    left: 64%;
  }
}

.comment {
  overflow: auto;
  width: 14.625em;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-family: "Avenir-Next";
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .comment {
    width: 32.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .comment {
    width: 28.75rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .comment {
    width: 100%;
  }
}

.comments__userN {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir-Next-bold";
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .comments__userN {
    margin-left: 1.5rem;
  }
}

.comments__date {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 22px;
  font-family: "Avenir-Next";
  color: #AFAFAF;
}

.comments__default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 1rem;
  height: 11.5rem;
}

@media screen and (min-width: 768px) {
  .comments__default {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32.5rem;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .comments__default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 460px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0;
    margin-left: 1.25rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .comments__default {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .comments__default {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
  }
}

.comments__avatar {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  top: 1.875em;
  left: 1rem;
  margin: 0;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 768px) {
  .comments__avatar {
    left: 4.375rem;
  }
}

@media screen and (min-width: 1200px) {
  .comments__avatar {
    width: 3rem;
    height: 3rem;
    margin-right: 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .comments__avatar {
    margin-right: 1rem;
  }
}

.avatar--mod {
  margin-right: 0.625rem;
}

@media screen and (min-width: 1200px) {
  .avatar--mod {
    margin-right: 0px;
    left: 1rem;
  }
}

@media screen and (min-width: 825px) and (max-width: 1199px) {
  .avatar--mod {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .avatar--tranform {
    -webkit-transform: translateX(-123px);
            transform: translateX(-123px);
  }
}

.comments__innerB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 768px) {
  .comments__innerB {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 11.5625rem;
  }
}

.comments__smallCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 14.625rem;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .comments__smallCont {
    width: 80%;
  }
}

.footer {
  background-color: #323232;
  color: #AFAFAF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  top: 5rem;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .footer__top {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 2.5rem .5rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__top {
    margin-top: 3rem;
  }
}

.footer__heading {
  padding-top: 2.5rem;
  margin: 0 1rem 1rem 1rem;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    width: 14rem;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__heading {
    padding-top: 0;
    margin-bottom: 2.125rem;
    margin-left: 2.1875rem;
  }
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem;
  width: 41.25%;
}

@media screen and (min-width: 768px) {
  .footer__icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 9.25rem;
    height: 2.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__icons {
    width: 7.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    -ms-flex-item-align: center;
        align-self: center;
    width: 174px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    width: 7rem;
    height: 1.5rem;
    position: relative;
    left: 51%;
  }
}

.contact__container {
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .contact__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1.5rem;
    margin: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .contact__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1.875rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact__container {
    width: 44.5rem;
    margin: 0 0 2.5rem 2.5rem;
  }
}

@media screen and (min-width: 806px) and (max-width: 1199px) {
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contact__container .footer__contact {
  font-size: 13px;
  line-height: 18px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .contact__container .footer__contact {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 14rem;
  }
}

.contact__container .footer__contact h4 {
  margin: 0;
}

.contact__address {
  margin-top: 1.5rem;
}

.contact__email {
  margin-top: 1.5rem;
}

.footer__rights {
  margin-left: 1rem;
  color: white;
}

.footer__rights h5:last-child {
  padding-bottom: 4rem;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .footer__rights {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__rights {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer__rights {
    margin-left: 2.1875rem;
  }
}
/*# sourceMappingURL=main.css.map */