@import './partials/variables';
@import './partials/mixin';
@import './partials/font-face';


.hero_shows{
    background-image: url("../Assets/Images/hero-shows.jpg");
    width: 100vw;
    height: 29.5rem;
    position: relative;
    @include bg-img;
    @include flex-center(column);
    align-items: flex-start;

    &::after{
        content: url();
        background-color:rgba($color: #000000, $alpha: 0.50%);
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
}

.hero__shows--heading{
    @include heading-M;
    z-index: 2;
    color: white;
    font-family: "Avenir-Next-bold";
    width: ;
}
.hero__shows--subheading{
    @include text(14px, 22px);
    color: white;
    font-family: "Avenir-Next-bold";
}
