@import './partials/variables';
@import './partials/mixin';
@import './partials/font-face';


// .nav__links--shows{

// }

.hero_shows{
    background-image: url("../Assets/Images/hero-shows.jpg");
    width: 100vw;
    height: 29.5rem;
    position: relative;
    @include bg-img;
    @include flex-center(column);
    align-items: flex-start;

    &::after{
        content: url();
        background-color:rgba($color: #000000, $alpha: 0.50%);
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
}

.hero__shows--heading{
    @include heading-M;
    z-index: 2;
    color: white;
    font-family: "Avenir-Next-bold";
    margin-left: 1rem;
    margin-right: 1rem;
}

.hero__shows--subheading{
    @include text(14px, 22px);
    color: white;
    font-family: "Avenir-Next-bold";
    margin-top: 4rem;
    margin-left: 1rem;
}

.hero__song{
    z-index: 2;
    align-self: center;
    margin-top: 4rem;
}


// MAIN

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHeading{
    @include text(24px, 32px);
    color: #323232;
    align-self: flex-start;
    margin:2rem 0 2.5rem 1rem;
}

.container{
    width: 18rem;
    border-bottom: 1px solid $divider;
}

.title{
    color: $labels-text-color;
    font-family: "Avenir-Next-demi";
    @include text(14px, 22px)
}

.paragraph{
    font-family: "Avenir-Next";
    @include text(13px, 18px)
}

.container__date{
    font-family: "Avenir-Next-bold";
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.section__btn{
    @include btn (18rem);
}
