@font-face {
  font-family: "Avenir-Next";
  src: url("../../Assets/Font/Avenir-Next-Pro-Lt/Linotype-AvenirNextLTPro-Regular.otf") format("otf"), url("../../Assets/Font/Avenir-Alternative/Linotype-AvenirNextLTPro-It.otf") format("otf");
}

@font-face {
  font-family: "Avenir-Next-demi";
  src: url("../../Assets/Font/Avenir-Next-Pro-Lt/Linotype-AvenirNextLTPro-Demi.otf") format("otf"), url("../../Assets/Font/Avenir-Alternative/Linotype-AvenirNextLTPro-DemiIt.otf") format("otf");
}

@font-face {
  font-family: "Avenir-Next-bold";
  src: url("../../Assets/Font/Avenir-Next-Pro-Lt/Linotype-AvenirNextLTPro-Bold.otf") format("otf"), url("../../Assets/Font/Avenir-Alternative/Linotype-AvenirNextLTPro-BoldIt.otf") format("otf");
}

.nav__links--shows {
  border-bottom: 1px solid white;
}

@media screen and (min-width: 768px) {
  .nav__links--shows {
    border-bottom: 2px solid white;
  }
}

@media screen and (min-width: 1200px) {
  .nav__links--shows {
    border-bottom: 2px solid white;
  }
}

.hero_shows {
  background-image: url("../Assets/Images/hero-shows.jpg");
  width: 100vw;
  height: 29.5rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero_shows::after {
  content: url();
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .hero_shows {
    height: 41.875em;
    position: relative;
    top: 4.5rem;
  }
}

.hero__shows--heading {
  font-size: 1.5rem;
  line-height: 2rem;
  z-index: 2;
  color: white;
  font-family: "Avenir-Next-bold";
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .hero__shows--heading {
    font-size: 60px;
    line-height: 68px;
    width: 33.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__shows--heading {
    margin-top: 3rem;
    margin-left: 4.375rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .hero__shows--heading {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 771px) and (max-width: 1199px) {
  .hero__shows--heading {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.hero__shows--subheading {
  font-size: 14px;
  line-height: 22px;
  color: white;
  font-family: "Avenir-Next-bold";
  margin-top: 4rem;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .hero__shows--subheading {
    margin-top: 6rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__shows--subheading {
    margin-top: 10rem;
    margin-left: 4.375rem;
  }
}

.hero__song {
  z-index: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .hero__song {
    width: 436px;
    height: 146px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .hero__song {
    width: 436px;
    height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__song {
    position: relative;
    left: 40.875rem;
    bottom: 17.0625rem;
  }
}

@media screen and (min-width: 771px) and (max-width: 1199px) {
  .hero__song {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 2rem;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subHeading {
  font-size: 24px;
  line-height: 32px;
  color: #323232;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2rem 0 2.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .subHeading {
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .subHeading {
    margin-top: 3rem;
    font-size: 36px;
    line-height: 44px;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .subHeading {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.mainContainer {
  position: relative;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .mainContainer {
    position: relative;
    top: 4.4375rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .mainContainer {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 67.5rem;
  }
}

.container {
  width: 18rem;
  border-bottom: 1px solid #E1E1E1;
}

@media screen and (min-width: 768px) {
  .container {
    width: 45rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 50.25rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .container__inBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container__inBox {
    width: 100px;
  }
}

.title {
  color: #AFAFAF;
  font-family: "Avenir-Next-demi";
  font-size: 14px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .hidden {
    display: none;
  }
}

.paragraph {
  font-family: "Avenir-Next";
  font-size: 13px;
  line-height: 18px;
}

.container > :nth-child(1) p {
  font-weight: bold;
}

.container__date {
  font-family: "Avenir-Next-bold";
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.section__btn {
  width: 18rem;
  height: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  background-color: #323232;
  color: white;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .section__btn {
    width: 10rem;
    height: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .section__btn {
    width: 10rem;
    height: 3rem;
  }
}
/*# sourceMappingURL=shows.css.map */